/* trying colors */
:root {
    --headerbg: black;
    --header-text: white;
    --pagebg: tan;
}
body {
    margin-left: auto;
    margin-right: auto;
    /* padding: 60px; */
    background-color: var(--pagebg);
    /*filter: invert(1); */
}

main {
    margin-top: 80px;
    margin-bottom: 70px;
}

#header {
    position: fixed;
    width: 100%;
    padding:10px 20px;
    margin: 0;
    top: 0;
    background-color: var(--headerbg);
    color: var(--header-text);
    font-weight: bolder;
}
#footer {
    position: fixed;
    width: 100%;
    padding: 0px 20px;
    bottom: 0;
    background-color: var(--headerbg);
    color: var(--header-text);
    /* text-align: right; */
}
#header > p > a, #footer > p > a {
    text-decoration: none;
    color: inherit;
}
h1 {
    /* margin-top: 70px; */
    text-transform: capitalize;
}
#main-details {
    border-style: solid;
    border-color: black;
    padding: 10px 10px 10px 20px 
}
#h-ul li {
    display: inline;
}
#images img {
    max-width: 50%;
    min-width: 50%;
    height: auto;
}