/* 
???javascript for the wordpress header name resize on scroll???
data-height-onload="80" data-height-loaded="true" data-fixed-height-onload="80" 
data-height-percentage="54" 
data-actual-width="0" 
data-actual-height="0"
*/
:root {
	--theBlue: #2ea3f2;
	--theBg: #f7f5ed;
	--the2ndBg: #faf9f4;
}


* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	background-color: var(--theBg);
}

address {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 3px 100px;
    height: 30px;

    font-style: normal;
    font-size: .8rem;
    color: white;
    background-color: var(--theBlue);
    white-space: nowrap;

    & a {
        text-decoration: none;
        color: inherit;
    }
}

#nameNnav {
    display: flex;
    position: fixed;
    top: 30px;
    z-index: 100;
    font-size: .9rem;
    font-weight: 600;
    height: 54px;
    width: 100%;
    padding: 6px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    & ul li a {
        display: block;
        color: #4b4c4d;
        padding: 14px 16px;
        text-decoration: none;
    }

    & ul li a:hover {
        color: #abb8c3;
    }
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	margin-top: 100px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	background: var(--the2ndBg);
	padding: 20px;
	border-radius: 12px;
	width: 100%;
	/* box-shadow: -8px 12px 8px rgb(120, 120, 120); */
}

#gridContainer {
	/* height: 300px; */
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 24px;
	justify-content: space-evenly;
	align-content: space-around;

	& div {
		text-align: center;
		background: var(--the2ndBg);
		padding: 20px;
		border-radius: 12px;
		transition: .5s;
		max-width: 25vw;

		&:hover {
			transform: scale(1.1);
			/* box-shadow: -0px 0px 2px var(--theBlue); */
		}

		& img {
			width: 100%;
			outline: 4px solid var(--theBlue);
			border-radius: 6px;
			box-shadow: -8px 12px 8px #787878;
		}

	}
}


/* .item {
	background-color: #faf9f4;
} */