:root {
  --fontColor: #ffdcc5;
  --barColor: rgb(85, 0, 24);
  --groundBlue: #1a1845;
  --otherBlue: #262454;
  --mainIcons: #ff8000;
  background-color: rgb(31, 31, 31);
  color: #ffdcc5;
}

* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-rcg, u {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* weight value from 200 to 800 */
  font-weight: 800 ;
  font-style: normal;
}

.dosis-rcg {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  /* weight value from 200 to 800 */
  font-weight: 500;
  font-style: normal;
}

.hide {
  width: 0px;
  display: none;
  font-size: 0;
  line-height: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Lilita One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--fontColor);
  text-shadow: -2px 2px 1px black;
  font-size: 2.6rem;
  line-height: 1;
  margin: 0px;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  /* padding: .rem; */
}

.subTitle {
  display: inline-block;
  width: 100%;
  background-color: var(--barColor);
  margin: 0px;
  padding: .5rem;
  text-align: center;
  border-radius: 12px;
}

body {
  margin: 20px auto;
  border-radius: 18px;
  outline: 6px double white;
  max-width: 50vw;
  min-width: 350px;
}

.theGrid {
  display: grid;
  grid-template-columns: 1fr 33px;
  grid-template-rows: auto 3fr;
  grid-template-areas:
    "header footer"
    "nav footer";
  border-radius: inherit;
  overflow: hidden;
  justify-content: end;
  min-height: 80vh;
}

header {
  grid-area: header;
  position: relative;

  /* background-image: url(images/background04.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  & img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  & h1 {
    font-family: "Lilita One", sans-serif;
    font-size: clamp(2.2rem, 5vw, 5rem);
    color: var(--otherBlue);
    text-shadow: -1px 1px 1px var(--fontColor), -2px 2px 6px var(--groundBlue);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0; */
    width: 100%;

  }
}

nav {
  grid-area: nav;
  padding-left: 5vw;
  background-image: linear-gradient(var(--groundBlue), black);

  & i {
    font-size: 2.5rem;
    color: var(--mainIcons);
    text-shadow: -1px 1px 1px black;
  }

  & ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    font-size: 2rem;
    white-space: nowrap;

    & li a {
      display: block;
      color: inherit;
      padding: 8px 16px;
      border-radius: 10px;

      &.current i {
        color: var(--barColor);
        text-shadow: 4px 3px 3px black;
      }

      &:hover:not(.current) {
        background-color: #ffffff2f;
        transform: scale(1.07, 1.07);

        & i {
          color: var(--barColor);
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  writing-mode: vertical-rl;
  background: var(--barColor);
  z-index: 1000;
  font-size: 1.4rem;

  & i {
    align-content: center;
    margin-bottom: 5px;
    font-size: 1.4rem;
    text-shadow: -1px 1px 1px black;
  }

  & div {
    padding: 12px 0px;
  }
}

.pages {
  grid-template-rows: 40px auto;
  grid-template-areas:
    "nav footer"
    "container footer";

  & nav {
    padding-left: inherit;
    background: var(--otherBlue);
    text-align: center;

    & i {
      font-size: 1.6rem;
    }

    & ul {
      font-size: 0;
      line-height: 0;

      & li {
        display: inline-block;
      }
    }
  }
}

.pageContent {
  grid-area: container;
  background-image: linear-gradient(var(--otherBlue), black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px;

}

.container {
  /* background-color: var(--barColor); */
  padding: 1rem;
  border-radius: 16px;
}

.flex {
  max-width: 500px;
  background-color: var(--barColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0px 30px;
  /* border-radius: 16px; */
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


/* images  */

.pixRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.pixColumn {
  flex: 50%;
  padding: 0 4px;
}

.pixColumn img {
  margin-top: 8px;
  vertical-align: middle;
}
