  /* * {
    outline: 1px solid red;
    outline-offset: -1px;
  } */

  :root {
    --gradientBg: linear-gradient(to bottom right, #3B404E, #3A3F4D);
    --gradiant1: linear-gradient(to bottom right, #6E54D9, #3C88EE, #3AD8DC);
    --gradiant2: linear-gradient(135deg, #6E54D9, #917EE3);
    --thePurple: #6E54D9;
    --theTeal: #38CFC8;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: var(--gradientBg);
  }

  h1 {
    margin: 0;
    text-shadow: 3px 3px 5px black;
  }

  p {
    color: black;
    font-size: .85em;
    font-weight: 600;
  }

  #mainGrid {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(150px, 20%) 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "sidebar content1 content1"
      "sidebar content2 content3"
      "footer footer footer";
    gap: 16px;
    padding: 16px;
    max-width: 80vw;
    max-height: 80vh;
    margin: auto;

    &>* {
      align-content: center;
      border: 6px solid black;
      border-radius: 4px;
      box-shadow: 0 6px 12px rgb(40, 40, 40);
    }
  }

  header {
    grid-area: header;
    background-image: var(--gradiant2);
    animation: rightIn 2s linear, hueChange 6s linear 3s 2;
  }

  footer {
    grid-area: footer;
    background-image: var(--gradiant2);
    animation: leftIn 2s linear, hueChange 6s linear 3s 2;
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    grid-area: sidebar;
    background-color: var(--theTeal);
    animation-name: leftIn2;
    animation-duration: 1.25s;
    animation-timing-function: ease-in-out;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      transition: all 100ms ease-in-out;
    }

    & h3 {
      margin: 0px;
      padding: 4px;
      white-space: nowrap;
      color: black;
      text-shadow: 1px 1px 3px var(--theTeal);
      background-image: var(--gradiant2);
    }

    & li a {
      text-decoration: none;
      display: block;
      color: white;
      text-shadow: 1px 1px 2px black;
      border-top: 1px solid black;
      padding: 8px;
      transition: all 100ms ease-in-out;
    }

    & li a:hover {
      font-weight: 800;
      background-image: var(--gradiant1);
      border-radius: 4px;
      border: 1px solid black;
      box-shadow: 4px 4px 6px black;
      transform: scale(110%);
      cursor: pointer;
    }
  }

  #content1 {
    grid-area: content1;
    background-image: var(--gradiant1);
    filter: hue-rotate(90deg) blur(1);
    animation-name: rightIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    padding: 0px 12px;
    text-align: justify;
  }

  #content2 {
    grid-area: content2;
    background-image: var(--gradiant1);
    animation-name: rightIn2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  #content3 {
    grid-area: content3;
    background-image: var(--gradiant1);
    animation-name: leftIn;
    animation-duration: 1s;
    animation-timing-function: linear;
  }

  .sidewaysText {
    position: absolute;
    top: 2px;
    left: -28px;
    transform: rotate(-38deg);
    font-size: 1.7em;
    text-shadow: 6px 8px 8px black;
    z-index: 2;
  }

  .flexBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 6px;
    gap: 6px;

    & img {
      width: 80%;
      min-width: 150px;
      filter: grayscale() drop-shadow(8px 8px 3px var(--thePurple));

    }
  }


  @keyframes hueChange {
    0% {
      filter: hue-rotate();
    }

    50% {
      filter: hue-rotate(5rad);
    }

    100% {
      filter: hue-rotate();
    }
  }




  @keyframes rightIn {
    0% {
      transform: translate(-1000px, 1000px);
    }

    50% {
      transform: translate(60px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes rightIn2 {
    0% {
      transform: translate(-1000px, 0px) rotate(-360deg);
    }

    50% {
      transform: translate(60px, 0px) rotate(-280deg);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes leftIn {
    0% {
      transform: translate(1000px, -1000px);
    }

    50% {
      transform: translate(-60px, 0px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes leftIn2 {
    0% {
      transform: translate(1000px, 0px) rotate(360deg);
    }

    50% {
      transform: translate(-60px, 0px)rotate(180deg);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }