/*
____TODO____ 
- [ ] space at top of page??? need for top 0 on .topbar?
- [ ] reorder properties for uniformity
- [ ] replace ride photo table with something more advanced
- [ ] look for ways to clean up and consolidate CSS
- [ ] redesign using flexbox containers

____SHOW BLOCKS___
* {
  outline: 1px solid red;
  outline-offset: -1px;
}
*/

:root {
  /* COLOR TESTING */
  --myblack: #262626;
  --mywhite: #ffffff;
  --base: #f5deb3;
  --2ndary: #c4834b;
  --text01: #000000;
  --phillyred: #E81828;
  background-color: var(--base)
}

* {
  color: var(--myblack);
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.alan-sans-rob {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  position: relative;
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  min-height: 1400px;
}

h1 {
  font-size: 2.25em;
}

h2,
h4 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.75em;
}

h3,
.tabletitle {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0px 10px 0px;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 2px 2px var(--2ndary);
}

p {
  max-width: 920px;
  padding: 0% 4%;
}

span.fortherequirement {
  color: var(--phillyred);
  text-shadow: 2px 2px 2px var(--myblack);
}

.topbar {
  display: block;
  width: 100%;
  min-width: 500px;
  border-top: 3px solid var(--myblack);
  border-bottom: 3px solid var(--myblack);
  margin: auto;
  background-color: var(--2ndary);
  text-align: center;
  position: fixed;
  top: 0;

  & h2 {
    margin: 2px;
    padding: 5px;
  }
}

.intro {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-evenly;
  margin: 60px auto 0 auto;
  padding: 0px 4%;
  align-items: center;
  max-width: 920px;

  & img {
    max-width: 30%;
    min-width: 10em;
    border: 2px solid;
    border-radius: 50%;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  position: sticky;
  top: 3.2em;
  font-weight: bold;
  background-color: var(--myblack);
  border-bottom: 4px solid var(--phillyred);
  border-top: solid var(--myblack);
  outline: 1px solid var(--myblack);

  & a {
    display: inline-block;
    color: var(--mywhite);
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
  }

  & a:hover {
    text-transform: uppercase;
    font-size: large;
  }
}

@media (max-width: 630px) {

  .container,
  .intro,
  .navigation {
    flex-direction: column;
  }
}

main {
  max-width: 920px;
  margin: auto;
  padding: 4px;

  & h1 {
    text-align: center;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 920px;
  padding: 4%;
  margin: 0% 2%;
  background-color: var(--2ndary);
  border-radius: 15px;
  border: 1px solid var(--myblack);

  & a {
    font-size: large;
    font-weight: bold;
    text-decoration: underline var(--phillyred);
    text-decoration-thickness: 2px;
    color: inherit;
  }
}

.container_small {
  padding: 12px;
  background-color: var(--base);
  border-radius: 15px;
  border: 3px solid var(--myblack);
  outline: 3px solid var(--phillyred);
}

#myrides {
  scroll-margin-top: 7rem;
}

.summaryCard {
  max-width: 500px;
  height: 90px;
  margin: 10px auto 20px;
  padding: .4em;
  border: 2px solid var(--phillyred);
  outline: 5px solid var(--myblack);
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 15px;

  &:hover {
    background-color: var(--2ndary);
    border: 2px solid var(--myblack);
    transition: .5s ease;
  }
}

.summary {
  clear: both;
  /*max-width: 500px;*/
  /*margin-bottom: 12px;*/
  /*padding:;*/

  & a {
    color: inherit;
    text-decoration: none;
  }

  & a:visited {
    color: inherit;
  }

  & img {
    max-width: ;
    max-height: 86px;
    border: 2px solid;
    float: right;
    margin-left: 1px;
    border-radius: 5px 12px 15px 5px;
  }

  & h4 {
    text-align: left;
    margin: 0px 1px 4px 0px;
  }

  & .text {
    height: 67px;
    font-size: .75em;
    overflow: hidden;
    /* need to figure out
    max-width:364px;
    text-overflow: ellipsis;
    white-space:; */
  }
}

footer {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding: 20;
  background-color: var(--myblack);
  text-align: right;
  bottom: 0;

  & .text {
    font-size: .8em;
    margin: 2px 20px;
    color: var(--mywhite);
  }
}

table {
  width: 100%;
  border: 10px solid var(--2ndary);
  border-collapse: collapse;
  outline: 2px solid var(--phillyred);
}

td {
  width: 33%;
  padding-bottom: 4px;
}

td>a>img {
  display: block;
  margin: auto;
  width: 96%;
  padding: 1px;
  border: 1px solid var(--myblack)
}

textarea {
  max-width: 100%;
}