/* 
add font-size clamp
why is the extra height on he bottom .featuredItem?????
*/

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */

:root {
    --primaryColor: #f7f3ed;
    --secondaryColor: #34a9e3;
    --containerBg: #f0e7db;
    background-color: black;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    margin: 2vw 3vw;
    padding: 0px;
    border-radius: 16px;
    background-color: var(--primaryColor);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/turntable_vinyl.jpg");
    min-height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;

    & p {
        color: var(--primaryColor);
        display: inline-block;
        width: fit-content;
        margin: .25em 0em;
        padding: .25em 4em;
        align-self: center;
        text-align: center;
        font-size: 2.5vw;
        font-weight: 800;
        background-color: var(--secondaryColor);
        border-radius: 10px;
        border: 2px solid black;
        flex-shrink: 1;
        box-shadow: 4px 6px 4px black;
    }
}

h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    text-align: center;
    color: var(--secondaryColor);
    text-shadow: 4px 6px 4px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    margin: 0px;
    flex-shrink: 1;
}

nav>ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: sticky;
    margin: 0;
    padding: 0;
    font-weight: 600;

    &>li a {
        display: block;
        color: black;
        padding: 4px 16px;
        border-radius: 8px;
        border: 2px solid black;
        margin: 4px;

        &:hover {
            color: var(--primaryColor);
            background-color: #111111;
        }
    }
}

h2 {

    text-align: center;
    text-shadow: 1px 1px 1px var(--secondaryColor);
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    outline: 2px solid black;
    background-color: var(--containerBg);
    margin: 6px 20px;
    padding: 12px;
    border-radius: 12px;
}

.featuredItem {
    position: relative;
    margin: 4px;
    margin-bottom: 20px;
    height: 250px;
    /* WHY IS MY BOX TALL WITHOUT THIS??? */
    transition: transform .5s;

    & img {
        border-radius: 50%;
        border: 1px solid black;
        padding: 5px;
        width: 250px;
    }

    &:hover {
        transform: scale(1.2) translate(0px, 50px) rotate(720deg);
        z-index: 1;

        & .featuredDetails {
            visibility: visible;
        }

        & img {
            border-radius: 3px;
            border: 4px outset gray;
            padding: 0px;
        }
    }
}

.featuredDetails {
    position: relative;
    border-radius: 1px;
    box-shadow: 2px 3px 2px black;
    text-align: center;
    bottom: 150px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    color: white;
    text-shadow: 1px 1px 0px black;
    font-weight: 400;
    padding: 6px;
    visibility: hidden;

    & p {
        margin: 3px;
    }
}

footer {
    margin-top: 26px;
    padding: 12px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    /* align-items: center; */
    text-align: center;
    background-color: var(--secondaryColor);
    background-image: url(images/DTRave-Glass-Jar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 275px;
    border-radius: 0px 0px 16px 16px;
    border-top: black;
}

address {
    display: inline-block;
    position: relative;
    top: 100px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, .8);
    border-radius: 12px;
    border: 3px dotted black;
    font-style: normal;
}

a {
    text-decoration: none;
    /* color: var(--secondaryColor); */
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 6px;
    background-color: var(--secondaryColor);

    &:first-of-type {
        border-radius: 8px 0px 0px 0px;
    }

    &:last-of-type {
        border-radius: 0px 8px 0px 0px;
    }
}

tr {
    background-color: var(--primaryColor);
}

td {
    padding: 2px;
    /* border: 1px solid var(--primaryColor); */
    /* border-bottom: 4px solid var(--containerBg); */
    border-bottom: 1px solid var(--secondaryColor);
}

td:nth-of-type(3),
td:nth-of-type(5) {
    text-align: center;
}

.container {
    margin: 16px;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

#floatRequirement {
    float: left;
    width: 200px;
}

#absoluteRequirement {
    position: absolute;
    top: 46%;
    right: 5%;
    transform: rotate(35deg);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;
    background-color: red;
    outline: 2px solid red;
    padding: 4px;
}

#relativeRequirement {
    position: relative;
    top: 30px;
}